/**************RESET*************/
* {
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/********BODY******/
body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(147deg, #ccd5e9 0%, #edf1f4 74%);
  background-position: center;
  transition: 4.5s;
}


/*******NAVIGATION******/
.nav-s {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 5%;
  height: 50px;
}
.nav-s ul {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-s ul li {
  display: inline-block;
  padding: 4px 2%;
  font-weight: 300;
  font-size: 14px;
}
.nav-s ul li a {
  color: rgb(118, 46, 252);
}

.nav-s ul li :hover {
  color: #141414;
}
/*******TOGGLE SWITCH******/
#toggle {
  position: relative;
  display: block;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background: #fff6f6;
  transition: 0.5s;
  cursor: pointer;

}

#toggle .switch_mode {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(to bottom, #95b1ef, #f9c5d1);
  border-radius: 50%;
  transform: scale(0.8);
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
    inset 0 4px 4px rgba(255, 255, 255, 0.2),
    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
  transition: 0.4s;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

/********HOMEPAGE CSS*********/
.center_txt_home {
  align-items: center;
  width: 45%;
  font-size: 1.75rem;
}

.center_txt_home h1 {
  text-align: center;
}
.center_txt_home p {
  text-align: center;
  font-size: 1rem;
  color: rgb(167, 157, 172);
}
/*********BUTTONS CUSTOM**********/
div .button_index{
  display: grid;
  grid-template-columns: auto 35% auto;
}

button {
 border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 8px;
}

button.cta {
  background-color: #2ecc7000;
  border-width: 2px;
  border-color: #a594f9;
  color: #6247aa;
  height: 35px;
  border-style: solid;
  transition: 0.4s;
}
button.cta:hover {
  border-color: transparent;
  background-color: #a594f9;
  color: rgb(231, 231, 231);
}

button.inactive {
  background-color: transparent;
  border-style: none;
}

button.cta .disabled{
  background-color: transparent;
  border-style: none;
  color: transparent;
}
/*********TYPE STYLE**********/
h1 {
  font-family: "Milonga", cursive;
  font-size: 48px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: #6247aa;
  background-image: linear-gradient(360deg, #6247aa 0%, #a594f9 74%);
  padding: 0% 0% 2% 0%;
}

/******DARK MODE *****/
body.active {
  background-color: #000000;
  background-image: linear-gradient(245deg, #000000 0%, #140b1b 74%);
}
#toggle.active {
  background: #141414;
}
#toggle .active.switch_mode {
  left: 30px;
  background: linear-gradient(to bottom, #380036, #0cbaba);
}